---

import { getLangFromUrl } from "../i18n/translations";


const lang = getLangFromUrl(Astro.url);

---


<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro i18n template</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global >
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
  }

  main {
	margin-top: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }
</style>
